.content-row {
    display: none;
}

.content-active {
    display: block;
}
.choose-top-box{
	width: 98%;
	margin-left: 10px;
	padding: 10px;
	background-color: rgb(210,214,222);
	border-radius: 5px;
}
.interview-date{
	font-size:20px;
	font-weight: 400;
}
.form-group{
	display: flex;
	align-items: center;
	text-align: center;
}
.form-group label{
	margin: 0 auto;
}